In [12]:
!pip install pandas
!pip install numpy  
!pip install matplotlib 
!pip install scikit-learn 
!pip install seaborn

Requirement already satisfied: pandas in c:\users\wande\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wande\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\wande\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\wande\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\wande\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\wande\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\wande\anaconda3\lib\site-packages (1.24.3)
Requirement already satisfied: matplotlib in c:\users\wande\anaconda3\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\wande\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: scikit-learn in c:\users\wande\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\wande\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\wande\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\wande\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\wande\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: seaborn in c:\users\wande\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\wande\anaconda3\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\wande\anaconda3\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\wande\anaconda3\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (11.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\wande\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\wande\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\wande\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\wande\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
caminho = '../data/raw/base_credito_simulada_10000_enriquecida.csv'

In [15]:
df = pd.read_csv(caminho)

In [16]:
print(df.head())

  id_operacao id_cliente             produto    regiao  \
0     O000001     C02275     Cheque Especial   Sudeste
1     O000002     C02222     Cheque Especial       Sul
2     O000003     C01020     Crédito Pessoal       Sul
3     O000004     C01158  Financiamento Auto     Norte
4     O000005     C01650     Crédito Pessoal  Nordeste

                  data_inicio  valor_contratado  prazo_meses  taxa_juros_aa  \
0  2022-03-12 22:53:37.580839           3945.93           12          24.60
1  2019-02-15 15:28:15.883510          21265.68           12          21.92
2  2020-05-16 22:17:02.920443          33352.04           24          13.37
3  2020-02-12 08:37:49.191306            745.96           36          23.10
4  2022-09-06 01:26:21.049381          24707.13           12           6.95

              data_vencimento  atraso_max_dias  ...   estado_civil  \
0  2023-03-12 22:53:37.580839              120  ...          Viúvo
1  2020-02-15 15:28:15.883510                0  ...          Viúvo
2  2022-05-16 22:17:02.920443               60  ...       Solteiro
3  2023-02-12 08:37:49.191306                0  ...  União Estável
4  2023-09-06 01:26:21.049381               15  ...       Solteiro

       grau_instrucao  tempo_emprego   profissao  tipo_residencia  \
0            Superior           24.7    Autônomo           Outros
1  Mestrado/Doutorado           21.4    Autônomo           Cedido
2  Mestrado/Doutorado           28.6    Analista       Financiada
3       Pós-graduação           17.4    Autônomo           Cedido
4         Fundamental           19.3  Aposentado       Financiada

   numero_dependentes  tem_cartao_credito tem_outros_creditos possui_veiculo  \
0                   5                 Sim                 Sim            Sim
1                   4                 Sim                 Sim            Não
2                   2                 Não                 Sim            Sim
3                   3                 Sim                 Não            Sim
4                   5                 Não                 Sim            Não

   possui_imovel
0            Sim
1            Não
2            Sim
3            Sim
4            Não

[5 rows x 27 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_operacao          10000 non-null  object
 1   id_cliente           10000 non-null  object
 2   produto              10000 non-null  object
 3   regiao               10000 non-null  object
 4   data_inicio          10000 non-null  object
 5   valor_contratado     10000 non-null  float64
 6   prazo_meses          10000 non-null  int64
 7   taxa_juros_aa        10000 non-null  float64
 8   data_vencimento      10000 non-null  object
 9   atraso_max_dias      10000 non-null  int64
 10  default              10000 non-null  int64
 11  ead                  10000 non-null  float64
 12  perda_real           10000 non-null  float64
 13  lgd                  10000 non-null  float64
 14  renda_cliente        10000 non-null  float64
 15  idade_cliente        10000 non-null  int64
 16  score_credito        10000 non-null  float64
 17  estado_civil         10000 non-null  object
 18  grau_instrucao       10000 non-null  object
 19  tempo_emprego        10000 non-null  float64
 20  profissao            10000 non-null  object
 21  tipo_residencia      10000 non-null  object
 22  numero_dependentes   10000 non-null  int64
 23  tem_cartao_credito   10000 non-null  object
 24  tem_outros_creditos  10000 non-null  object
 25  possui_veiculo       10000 non-null  object
 26  possui_imovel        10000 non-null  object
dtypes: float64(8), int64(5), object(14)
memory usage: 2.1+ MB

In [18]:
df.describe()

,valor_contratado,prazo_meses,taxa_juros_aa,atraso_max_dias,default,ead,perda_real,lgd,renda_cliente,idade_cliente,score_credito,tempo_emprego,numero_dependentes
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.000000
mean,25467.142617,35.834400,14.997251,37.578000,0.194100,3725.272099,2418.647365,0.126063,10862.992738,45.96970,570.81030,15.037300,2.548000
std,14387.518048,17.101632,5.768727,63.416765,0.395526,9137.573450,6231.434415,0.271879,5358.395357,16.41337,158.87206,8.565502,1.695106
min,502.350000,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1500.220000,18.00000,300.00000,0.000000,0.000000
25%,13094.820000,24.000000,10.050000,0.000000,0.000000,0.000000,0.000000,0.000000,6271.130000,32.00000,432.00000,7.700000,1.000000
50%,25273.960000,36.000000,14.890000,15.000000,0.000000,0.000000,0.000000,0.000000,10984.230000,45.00000,567.00000,15.100000,3.000000
75%,38215.090000,48.000000,19.950000,60.000000,0.000000,0.000000,0.000000,0.000000,15564.220000,60.00000,711.00000,22.300000,4.000000
max,49994.800000,60.000000,25.000000,360.000000,1.000000,48720.773068,43802.790000,1.000000,19994.780000,74.00000,850.00000,30.000000,5.000000

In [19]:
# valores faltantes em cada coluna
print(df.isnull().sum())

id_operacao            0
id_cliente             0
produto                0
regiao                 0
data_inicio            0
valor_contratado       0
prazo_meses            0
taxa_juros_aa          0
data_vencimento        0
atraso_max_dias        0
default                0
ead                    0
perda_real             0
lgd                    0
renda_cliente          0
idade_cliente          0
score_credito          0
estado_civil           0
grau_instrucao         0
tempo_emprego          0
profissao              0
tipo_residencia        0
numero_dependentes     0
tem_cartao_credito     0
tem_outros_creditos    0
possui_veiculo         0
possui_imovel          0
dtype: int64

In [20]:
# Quantidade de linhas duplicadas
print("Duplicados:", df.duplicated().sum())

Duplicados: 0